{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/boxes-cards.css') }}">

<div class="my-profile-container flex justify-center gap-4">
    <div class="my-box">
    <div class="box-cut"></div>
        <div class="flex justify-between"><h2 class="text-xl">Mes infos</h2><a href="{{ path('edit_pseudo') }}"><i class="fa-regular fa-pen-to-square"></i></a></div>
        <p>Pseudo : {{ user.pseudo }}</p>
        <p>Mail : {{ user.email }}</p>
        <p>Role :{% if is_granted("ROLE_ADMIN") %} admin {% else %}normal {% endif %}</p>
        <input type="submit" onclick="return confirm('Are you sure?')" />
        <a href="{{ path('remove_account') }}" class="text-red-600" onclick="return confirm('Cette action est irréversible. Êtes-vous certain de vouloir supprimer votre compte?')">Supprimer le compte</a>
    </div>

    <div class="my-box">
        <div class="box-cut"></div>
        <h2 class="text-xl">Mes spots favoris</h2>
        <ul class="list-container">
            {% for spot in user.favoriteSpots %}
            <li><a class="text-black" href="{{ path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
        
    <div class="my-box">
        <div class="box-cut"></div>

        <h2 class="text-xl">Mes spots ajoutés</h2>
        <ul class="list-container">
            {% for spot in user.addedspots %}
            <li><a class="text-black" href="{{ path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

    
{% endblock %}
