{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<style>
    .my-box{
        display:unset;
    }
</style>
<section class="mobile-margin-top">

    <div class="my-profile-container flex justify-center gap-4">
        <div class="my-box">
            <div class="flex justify-between">
                {# Mes infos #}
                <h1 class="text-xl mb-6">Mes infos</h1>
                {# Modifier mes infos #}
                <a href="{{ path('edit_pseudo') }}"><i class="fa-regular fa-pen-to-square"></i></a>
            </div>
                <p class="mb-6" >Pseudo : {{ user.pseudo }}</p>
                <p class="mb-6">Mail : {{ user.email }}</p>
                <p class="mb-6">Role : {% if is_granted("ROLE_ADMIN") %} admin {% else %}normal {% endif %}</p>
                <a href="{{ path('remove_account') }}" class="text-red-600" onclick="return confirm('Cette action est irréversible. Êtes-vous certain de vouloir supprimer votre compte?')">Supprimer le compte</a>
        </div>

        <div class="my-box">
            <h2 class="text-xl mb-6">Mes spots favoris</h2>
            <ul class="list-container" style="overflow:unset; overflow-y:scroll;">
            {% if user.favoriteSpots|length > 0 %}
                
                {% for spot in user.favoriteSpots %}
                <li><a class="text-black" href="{{ path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></li>
                {% endfor %}
            {% else %}
                <p style="  ">Tu n'as pas encore de spots favoris. Consulte vite la map et like tes spots préférés pour les retrouver plus facilement !</p>
            {% endif %}
            </ul>
        </div>
            
        <div class="my-box">
            <h2 class="text-xl mb-6">Mes spots ajoutés</h2>
            <ul class="list-container">
                {% for spot in user.addedspots %}
                    <li><a class="text-black" href="{{ path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
    
{% endblock %}
