{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} {# Include the parent stylesheets first #}

    <!-- Additional stylesheets for this specific template -->
    <link rel="stylesheet" href="{{ asset('css/homepage_nop.css') }}">
{% endblock %}

{% block body %}
<!-- Main HOMEPAGE  -->
<main class="homepage">
<!-- Section HERO (VIDEO) -->
  <div class="hero-main">
    <div class="hero-video-container">

    <!-- Première vidéo à être lue -->
      <video autoplay muted id="myVideo" style="width: 100%; height: 100%;"></video>


      <div class="pause-video-container">

        <!-- Button pour mettre play/pause sur la video avec JAVASCRIPT (fonction: "pauseVideo()" ) -->
          <button id="pauseVideoBtn" onclick="pauseVideo()">Pause</button>
      </div>
      


       
<div class="flex item-center justify-center">
  <div
    class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center absolute "
  >
    <div class="mx-auto max-w-4xl text-center home-text-shadow">
      <h1 class="text-3xl font-extrabold sm:text-5xl" style="1px 1px 0px #ffffff75">
        {% if app.user %}
          Content de te retrouver
        <strong class="font-extrabold text-red-700 sm:block">
        {{ app.user.pseudo }}
        </strong>
          Alors on spotte quoi aujourd'hui ? 😎
        {% else %}
        <p class=" text-red-700 drop-shadow-2xl">
          Bienvenu sur SkateSpots.
        </p>
        <strong class="font-extrabold sm:block">
          Prêt a découvrir les meilleurs spots de la ville ? 
        </strong>
          
        {% endif %}
      </h1>

      {# <p class="mt-4 sm:text-xl/relaxed">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo
        tenetur fuga ducimus numquam ea!
      </p> #}
          

      <div class="mt-8 flex flex-wrap justify-center gap-4">
      {% if app.user %}
        <a
          class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700  hover:text-white focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
         href="{{ path('app_spot') }}"
        >
          Voir la carte
        </a>
        <a
          class="block w-full rounded bg-black/50 px-12 py-3 text-sm font-medium text-white/50 shadow hover:text-white hover:bg-black/75 focus:outline-none focus:ring active:bg-black sm:w-auto"
          href="/about"
        >
          Learn More (🚧)</a>
        </a>
      {% else %}
      
        <a
          class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700  hover:text-white focus:outline-none focus:ring active:bg-red-500 sm:w-auto"
         href="{{ path('app_spot') }}"
        >
          Voir la carte
        </a>

        <a
          class="block w-full rounded bg-black/50 px-12 py-3 text-sm font-medium text-white/50 shadow hover:text-white hover:bg-black/75 focus:outline-none focus:ring active:bg-black sm:w-auto"
          href="{{ path('app_register') }}"
        >
          Devenir membre (gratuit!)
        </a>
        <a
          class="block w-full rounded bg-black/50 px-12 py-3 text-sm font-medium text-white/50 shadow hover:text-white hover:bg-black/75 focus:outline-none focus:ring active:bg-black sm:w-auto"
          href="/about"
        >
          Learn More (🚧)
        </a>
      {% endif %}
      </div>
    </div>
  </div>
</div>
    </div>
  </div>

  <!-- Section STATS -->
  <div class="home-content-not-hero">
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">Un module préféré ? Les lieux partagés sur SkateSpots sont riches et variés.</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ modules|length }} modules différents</dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">Nombre de spots référencés à Strasbourg.</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ spotsList|length }} spots uniques</dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base leading-7 text-gray-600">La communauté SkateSpots ne cesse de s'agrandir.</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{ users|length }} utilisateurs réguliers</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>

</main>
<script>
    // Définition du tableau de vidéos
    const videos = [
      "/videos/production_id_4824358.mp4",
      "/videos/pexels-koolshooters-9724563.mp4",
      "/videos/pexels-allan-mas-5362598.mp4",
      "/videos/street-video-1.mp4"
      // Ajoutez ici les chemins vers les vidéos suivantes...
    ];

    // Obtenir un index de vidéo aléatoire pour commencer
    let currentVideoIndex = Math.floor(Math.random() * videos.length);

    // Obtenez le lecteur vidéo
    const videoPlayer = document.getElementById("myVideo");

    // Fonction pour lire la vidéo suivante ou recommencer la boucle
    function playNextVideo() {
      // Changer l'index de la vidéo pour passer à la suivante
      currentVideoIndex = (currentVideoIndex + 1) % videos.length;
      const nextVideoSrc = videos[currentVideoIndex];

      // Mettre à jour la source du lecteur vidéo pour la prochaine vidéo
      videoPlayer.src = nextVideoSrc;

      // Lorsque la vidéo suivante est terminée, jouer la suivante
      videoPlayer.addEventListener("ended", playNextVideo);
    }

    // Lancer la première vidéo aléatoire
    videoPlayer.src = videos[currentVideoIndex];
    videoPlayer.play();

    // Événement pour passer à la vidéo suivante à la fin de la première vidéo
    videoPlayer.addEventListener("ended", playNextVideo);
  </script>
{% endblock %}
