{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm, {'attr': {'class': 'max-w-md mx-auto p-4 bg-white shadow-md rounded-lg'}}) }}
    <div class="mb-4">
        {{ form_label(registrationForm.email, 'Email*', {'label_attr': {'class': 'block mb-2 font-medium text-gray-700'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.pseudo, 'Pseudo*', {'label_attr': {'class': 'block mb-2 font-medium text-gray-700'}}) }}
        {{ form_widget(registrationForm.pseudo, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.plainPassword.first, 'Password*', {'label_attr': {'class': 'block mb-2 font-medium text-gray-700'}}) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.plainPassword.second, 'Repeat Password*', {'label_attr': {'class': 'block mb-2 font-medium text-gray-700'}}) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
    </div>
    <div class="mb-4">
        {{ form_label(registrationForm.agreeTerms, 'Agree terms*', {'label_attr': {'class': 'inline-flex items-center'}}) }}
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2 leading-tight'}}) }}
    </div>

    <button type="submit" class="w-full px-4 py-2 text-white bg-blue-500 rounded-lg hover:bg-blue-600">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}
