{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/boxes-cards.css') }}">
<link rel="stylesheet" href="{{ asset('css/buttons.css') }}">
<style>
.admin-top{
    flex-direction:column;
}
</style>

<!-- Si l'utilisateur est connecté et qu'il a le ROLE_ADMIN-->
{% if app.user and is_granted('ROLE_ADMIN') %}
<div class="my-profile-container">

<div id="my-admin-title">
    <h2>Bonjour {{ app.user.pseudo }}</h2>
    <h1>Panneau d'administration</h1>
</div>
<div class="admin-top flex justify-center gap-4">
    <!-- ajouter un module -->
        <div class="my-box">
            <a href="{{ path('app_module') }}">
                <i class="fa-solid fa-pallet"></i>
                Ajouter un module
                <i class="fa-solid fa-pallet"></i>
            </a>
        </div>
    <!-- voir liste des utilisateurs -->
    <div class="my-box">
        <a href="{{ path('listUsers_admin') }}">
            <i class="fa-solid fa-users"></i>
            Voir la liste des utilisateurs
            <i class="fa-solid fa-users"></i>
        </a>
    </div>
</div>
<section class="admin-bottom flex justify-center gap-4">
    <div class="my-box table-admin-box">
    {% set nombreDeSpotsNonValides = spots|filter(spot => not spot.isValidated)|length %}
    {% set nombreDeSpotsValides = spots|filter(spot => spot.isValidated)|length %}

        <h4 class="text-xl">Liste des spots en attente de validation ({{nombreDeSpotsNonValides}})
            
        </h4>
        <div class="scrollable-box">
            <table class="list-container table-admin table-admin-box">
                <thead>
                    <tr>
                        <th>Nom du spot</th>
                        <th>Création</th>
                        <th>Autheur</th>
                        <th>Modération</th>
                    </tr>
                </thead>
                <tbody>
                {% for spot in spots %}
                    {% if spot.isValidated == false %}
                    <tr>
                        <td><a href="{{  path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></td>
                        <td>{{spot.creationDate | date('d/m/Y H:i')}}</td>
                        <td>{{ spot.author }}</td>
                        <td class='moderate-td'>
                            <a class="text-red-500" href="{{ path('deleteSpot_admin', {'id':spot.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            <a class="text-blue-500" href="{{ path('edit_spot', {'id':spot.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a class="text-green-500" href="{{ path('validateSpot_admin', {'id':spot.id}) }}"><i class="fa-solid fa-check"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="my-box ">
        <h4 class="text-xl">Liste des spots validés ({{nombreDeSpotsValides}})</h4>
        <div class="scrollable-box">
            <table class="list-container table-admin table-admin-box">
                <thead>
                    <tr>
                        <th>Nom du spot</th>
                        <th>Création</th>
                        <th>Autheur</th>
                        <th>Modération</th>
                    </tr>
                </thead>
                <tbody>
                {% for spot in spots %}
                    {% if spot.isValidated == true %}
                    <tr>
                        <td><a href="{{  path('show_spot', {'idSpot': spot.id}) }}">{{spot.name}}</a></td>
                        <td>{{spot.creationDate | date('d/m/Y H:i')}}</td>
                        <td>{{ spot.author }}</td>
                        <td class='moderate-td'>
                            <a class="text-red-500" href="{{ path('deleteSpot_admin', {'id':spot.id}) }}"><i class="fa-regular fa-trash-can"></i></a>
                            <a class="text-blue-500" href="{{ path('edit_spot', {'id':spot.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a class="text-red-500" href="{{ path('validateSpot_admin', {'id':spot.id}) }}"><i class="fa-solid fa-xmark"></i></a>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <p>Vous devez être connecté en tant qu'administrateur pour consulter cette page.</p>
    {% endif %}
</div>
</div>
</div>
<script src="{{ asset('js/buttons.js') }}"></script>
{% endblock %}
