{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}


{% block body %}
<!--Feuilles de style-->
<link rel="stylesheet" href="{{ asset('css/boxes-cards.css') }}">

<!-- Si l'utilisateur est connecté et qu'il a le ROLE_ADMIN-->
{% if app.user and is_granted('ROLE_ADMIN') %}
        <!-- Liste des utilisateurs -->
        <h4 class="flex justify-center text-xl">Liste des utilisateurs</h4>
        <ul class="list-container ">
            {% for user in users %}
                {% if user.isBanned == 0 and not(user.roles == "ROLE_ADMIN") %}
                    <li>
                        {{user.pseudo}}
                        <a href="{{ path('banUser_admin', {'id':user.id}) }}"><i class="fa-solid fa-user-slash"></i></a>
                        <a href="{{ path('deleteUser_admin', {'id':user.id}) }}">sup</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <h4 class="flex justify-center text-xl">Utilisateurs bannis</h4>
        <ul class="list-container">
            {% for user in users %}
                {% if user.isBanned == 1 %}
                    <li>
                        {{user.pseudo}}
                        <a href="{{ path('banUser_admin', {'id':user.id}) }}"><i class="fa-solid fa-user"></i></a>
                        <a href="{{ path('deleteUser_admin', {'id':user.id}) }}">sup</a>

                    </li>
                {% endif %}
            {% endfor %}
        </ul>
{% endif %}
    
{% endblock %}
