{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<style>
.module-flex-col{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding-top: 100px;
}
h4{
    font-size:1.5rem;
    text-decoration: underline;
}
/* Style pour les bordures du tableau */
.table {
    border-collapse: collapse;
    width: 30%;
}

/* Style pour les bordures des cellules du tableau */
.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style pour la couleur de fond des en-têtes de colonnes */
.table th {
    background-color: #f2f2f2;
}

/* Style pour une couleur de fond différente pour les lignes paires */
.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style pour les liens d'édition et de suppression */
.table a {
    text-decoration: none;
    color: #007bff;
}

/* Style pour les liens au survol de la souris */
.table a:hover {
    text-decoration: underline;
}

</style>
<div class="module-flex-col">
    <h4>Liste des modules disponibles</h4>
    <table class="table">
    <thead>
        <tr>
            <th>Nom du module</th>
            <th>Édition</th>
            <th>Suppression</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.name }}</td>
                <td><a href="{{ path('app_module_edit', {'id': module.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a></td>
                <td><a href="{{ path('deleteModule_admin', {'id': module.id}) }}"><i class="fa-solid fa-trash"></i></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>
<div class="flex justify-center text-xl">
    
</div>
    {{form_start(formNewModule, {'attr': {'class': 'mx-auto p-4 bg-white shadow-md rounded-lg'}})}}
        {{ form_label(formNewModule.name, 'Nom du module', {'label_attr': {'class': 'block font-medium text-gray-700'}}) }}
        {{ form_widget(formNewModule.name, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
    {{form_end(formNewModule)}}
{% endblock %}
