{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<style>
</style>
<h4>Liste des modules disponibles</h4>
<ul>
{# {{ dump() }} #}
{% for module in modules %}
    <li>{{module.name}} <a href="{{ path('app_module_edit', {'id':module.id}) }}">edit</a><a href="{{ path('deleteModule_admin', {'id':module.id}) }}">del</a></li>
{% endfor %}
</ul>
<h4>Ajouter un module</h4>
{{form(formNewModule)}}
{% endblock %}
