<div class="search-filters-container">
    {{ form_start(formSearch, {'attr': {'id': 'search-form'}}) }}
        {# Barre de recherche #}
        {{ form_row(formSearch.search) }}
        {# Choix des modules #}
        <p>Filtrer par module:</p>
        {% for module in formSearch.moduleFilter %}
            <label class="flex items-baseline mr-4">
                {{ form_widget(module, {'attr': {'class': 'mr-2'}}) }}
                {{ form_label(module) }}
            </label>
        {% endfor %}
        <p>Autres critères:</p>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.official, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.official) }}
        </label>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.covered, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.covered) }}
        </label>
        <label class="flex items-baseline mr-4">
            {{ form_label(formSearch.orderCreation) }}
            {{ form_widget(formSearch.orderCreation, {'attr': {'class': 'mr-2'}}) }}
        </label>
        <button type="submit">Search</button>
        <a href="{{ path('app_spot') }}" class="btn btn-secondary">Réinitialiser</a>
    {{ form_end(formSearch) }}
<button id="toggleFilters">
    
    <p class="arrow-toggle-filters inline-flex">FERMER FILTRES</p>
    
</button>


</div>