<div class="search-filters-container">
    {{ form_start(formSearch, {'attr': {'id': 'search-form'}}) }}
        {# Barre de recherche #}
        {{ form_row(formSearch.search) }}
        {# Choix des modules #}
        <h4>Filtrer par module</h4>
        {% for module in formSearch.moduleFilter %}
            <label class="flex items-baseline mr-4">
                {{ form_widget(module, {'attr': {'class': 'mr-2'}}) }}
                {{ form_label(module) }}
            </label>
        {% endfor %}
        <h4>Autres criteres</h4>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.official, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.official) }}
        </label>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.covered, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.covered) }}
        </label>
        <label class="flex items-baseline mr-4 filter-button">
            {{ form_label(formSearch.orderCreation) }}
            {{ form_widget(formSearch.orderCreation, {'attr': {'class': 'mr-2'}}) }}
        </label>
        <button type="submit" class="filter-button-big">Rechercher</button>
        <a href="{{ path('app_spot') }}" class="btn btn-secondary filter-button-big">Reinitialiser</a>
    {{ form_end(formSearch) }}
<button id="toggleFilters">
    
    <a class="arrow-toggle-filters inline-flex">FERMER FILTRES</a>
    
</button>


</div>