<div class="search-filters-container">
    {{ form_start(formSearch, {'attr': {'id': 'search-form'}}) }}
        {# Barre de recherche #}
        {{ form_row(formSearch.search) }}
        {# Choix des modules #}
        <p>Filtrer par module:</p>
        {% for module in formSearch.moduleFilter %}
            <label class="flex items-baseline mr-4">
                {{ form_widget(module, {'attr': {'class': 'mr-2'}}) }}
                {{ form_label(module) }}
            </label>
        {% endfor %}
        <p>Autres critères:</p>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.official, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.official) }}
        </label>
        <label class="flex items-baseline mr-4">
            {{ form_widget(formSearch.covered, {'attr': {'class': 'mr-2'}}) }}
            {{ form_label(formSearch.covered) }}
        </label>
        <label class="flex items-baseline mr-4">
            {{ form_label(formSearch.orderCreation) }}
            {{ form_widget(formSearch.orderCreation, {'attr': {'class': 'mr-2'}}) }}
        </label>
        <button type="submit">Search</button>
        <a href="{{ path('app_spot') }}" class="btn btn-secondary">Réinitialiser</a>
    {{ form_end(formSearch) }}
<button id="toggleFilters">
    <svg height="800px" width="800px" version="1.1" class="arrow-toggle-filters" id="arrowToggleFilters" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 185.343 185.343" xml:space="preserve">
    <g>
        <g>
            <path d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
        </g>
    </g>
    </svg>
    <p>filtres</p>
    <svg height="800px" width="800px" version="1.1" class="arrow-toggle-filters" id="arrowToggleFilters" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
        viewBox="0 0 185.343 185.343" xml:space="preserve">
    <g>
        <g>
            <path d="M51.707,185.343c-2.741,0-5.493-1.044-7.593-3.149c-4.194-4.194-4.194-10.981,0-15.175
                l74.352-74.347L44.114,18.32c-4.194-4.194-4.194-10.987,0-15.175c4.194-4.194,10.987-4.194,15.18,0l81.934,81.934
                c4.194,4.194,4.194,10.987,0,15.175l-81.934,81.939C57.201,184.293,54.454,185.343,51.707,185.343z"/>
        </g>
    </g>
    </svg>
</button>


</div>