<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="icon" href="{{ asset('/img/my-spot-logo.png') }}" type="image/x-icon">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {# Google Font Api #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {# Google font Grandstander & Annie Use Your Telescope #}
        <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Grandstander&display=swap" rel="stylesheet">        {% block stylesheets %}
            <!-- CSS PERSO -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/buttons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/forms.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/texts.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/boxes-cards.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/skate-logo.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/mobile.css') }}">
            <!-- FONT AWESOME KIT -->

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% block meta_tags %}
    {% endblock %}
    </head>

<body class="" style="display:flex; flex-direction:column; justify-content:space-between; min-height: 100vh">
<main class="" style="">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
            <!-- NAV BAR -->
            <nav class="desktop-nav ">
                <div  class="main-nav">
                    <!-- LOGO - LIEN VERS HOME -->
                    <a id="a-skateboard" href="{{ path('app_home') }}">
                        <div  class="child" id="skateboard">
                            <div class="skateboard-wrapper">
                                <div class="board">
                                    <div class="screw-holes">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <div class="centered-container">
                                        <p class=" myspot-text">MySpot</p>
                                    </div>
                                    <div class="screw-holes">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- LIEN VERS MAP -->
                    <a 
                    class="box-nav"
                    href="{{ path('app_spot') }}">LA MAP</a>

                    <!-- DARK MODE --> 
                    
                    <input type="checkbox" id="toggle-night-mode"/>
                    <label id="dark-mode-label" for="toggle-night-mode">
                    
                    {# <a id="toggle-night-mode">Dark mode</a> #}
                </div>
                <div class="user-nav">
                    {% if app.user %}
                        <a
                        href="{{ path('my_profile') }}"                    
                        class="box-nav">
                            Mon profil
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_admin') }}"class="box-nav">
                            Administration
                        </a>
                        {% endif %}
                        <a
                        href="{{ path('app_logout') }}" class="box-nav">
                            Se déconnecter
                        </a>
                    {% else %}
                        <a
                        href="{{ path('app_login') }}" class="box-nav">
                            Se connecter
                        </a>
                        <a href="{{ path('app_register') }}" class="box-nav">
                            S'inscrire
                        </a>
                    {% endif %}
                </div>
            </nav>

            <!-- NAV BAR MOBILE -->
            <div id="mySidenav" class="sidenav">
                <a id="nav-close-btn" href="#" class="arrow-container ">
                    <div class="arrow-left">
                        <div class="arrow-body"></div>
                    </div>
                </a>
                <ul>
                        <li><a href="{{ path('app_home') }}">Acceuil</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('my_profile') }}">Mon profil</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('app_admin') }}">Administration</a></li>
                        {% endif %}
                            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                        <li><a href="{{ path('app_spot') }}">La carte</a></li>

                </ul>
            </div>
        
        <div class="mobile-nav">
            <a id="a-skateboard" href="{{path('app_home')}}">
                    <div  class="child" id="skateboard">
                        <div class="skateboard-wrapper">
                            <div class="board">
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <h5 class="centered-container">
                                    <p class=" myspot-text">MySpot</p>
                                </h5>
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </a>       
            <a href="#" id="nav-open-btn">
                <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </div>

        {% block body %}
        <!-- INJECTION DU BODY-->
        {% endblock %}
</main>



<!-- LEAFLET JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{# Gestion du menu burger #}
<script src="{{ asset('js/menu_burger.js') }}"></script>
{# Gestion du switch Dark/Night Mode #}
<script src="{{ asset('js/darkmode.js') }}"></script>

{# pour le click sur le logo skate #}
<script src="{{ asset('js/skate-logo.js') }}"></script>

                                    
{# Footer #}
<footer class="footer-class">
    <div class="footer-container-class">
        <div class="footer-flex-container">
            <div class="footer-left-container">
                
                {# logo MYSPOT #}
                <a id="a-skateboard-footer" class="footer-skateboard-logo" href="{{ path('app_home') }}">
                    <div  class="child" id="skateboard">
                        <div class="skateboard-wrapper">
                            <div class="board">
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div class="centered-container">
                                    <p class=" myspot-text">MySpot</p>
                                </div>
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {# <div class="first-socials-footer">
                    
                </div> #}
                <div class="second-socials-footer">
                    <a class="social-item" href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
                    <a class="social-item" href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
                    <a class="social-item" href="https://www.x.com"><i class="fa-brands fa-twitter"></i></a>
                    <a class="social-item" href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>

            <ul class="footer-list">
                <li>
                    <a href="#" class="footer-item">À propos</a>
                </li>
                <li>
                    <a href="#" class="footer-item">Contact</a>
                </li>
                <li>
                    <a href="{{ path('confidentiality') }}" class="footer-item">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="{{ path('conditions') }}" class="footer-item">Conditions d'utilisation</a>
                </li>
            </ul>
        </div>
        <hr class="divider" />
        <span class="copyright">© 2023 <a href="https://https://github.com/Seb-Pot-Dev/" class="copyright-link">Seb-Pot-Dev</a>. All Rights Reserved.</span>
    </div>
</footer>


{% include 'cookies/tarteAuCitron.html.twig' %}


    </body>
</html>
