<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            <!-- Google Font -->

           
            <!-- CSS PERSO -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/buttons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/forms.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/texts.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/boxes-cards.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/skate-logo.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/menu.css') }}">
            <link rel="stylesheet" media="screen and (max-width: 768px)" type="text/css" href="{{ asset('css/mobile.css') }}">



     
            <!-- FONT AWESOME KIT -->
            <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
            {{ encore_entry_link_tags('app') }}


        {% endblock %}

        
    </head>

    <main class="" style="">
    <body class="">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
            <!-- NAV BAR -->
            <div class="desktop-nav ">
                <div  class="main-nav">
                    <!-- LOGO - LIEN VERS HOME -->
                    <a id="a-skateboard" href="{{ path('app_home') }}">
                        <div  class="child" id="skateboard">
                            <div class="skateboard-wrapper">
                                <div class="board">
                                    <div class="screw-holes">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                    <h5 class="centered-container">
                                        <p class=" myspot-text">MySpot</p>
                                    </h5>
                                    <div class="screw-holes">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <!-- LIEN VERS MAP -->
                    <a 
                    class="box-nav"
                    href="{{ path('app_spot') }}">LA MAP</a>

                    <!-- DARK MODE --> 
                    
                    <input type="checkbox" id="toggle-night-mode"/>
                    <label id="dark-mode-label" for="toggle-night-mode">
                    
                    {# <a id="toggle-night-mode">Dark mode</a> #}
                </div>
                <div class="user-nav">
                    {% if app.user %}
                        <a
                        href="{{ path('my_profile') }}"                    
                        class="box-nav">
                            Mon profil
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a href="{{ path('app_admin') }}"class="box-nav">
                            Administration
                        </a>
                        {% endif %}
                        <a
                        href="{{ path('app_logout') }}" class="box-nav">
                            Se déconnecter
                        </a>
                    {% else %}
                        <a
                        href="{{ path('app_login') }}" class="box-nav">
                            Se connecter
                        </a>
                        <a href="{{ path('app_register') }}" class="box-nav">
                            S'inscrire
                        </a>
                    {% endif %}
                </div>
            </div>

            <!-- NAV BAR MOBILE -->
            <div id="mySidenav" class="sidenav">
                <a id="nav-close-btn" href="#" class="arrow-container ">
                    <div class="arrow-left">
                        <div class="arrow-body"></div>
                    </div>
                </a>
                <ul>
                        <li><a href="{{ path('app_home') }}">Acceuil</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('my_profile') }}">Mon profil</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('app_admin') }}">Administration</a></li>
                        {% endif %}
                            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                        <li><a href="{{ path('app_spot') }}">La carte</a></li>

                </ul>
            </div>
        
        <div class="mobile-nav">
            <a id="a-skateboard">
                    <div  class="child" id="skateboard">
                        <div class="skateboard-wrapper">
                            <div class="board">
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <h5 class="centered-container">
                                    <p class=" myspot-text">MySpot</p>
                                </h5>
                                <div class="screw-holes">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
            </a>       
            <a href="#" id="nav-open-btn">
                <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
        </div>

        {% block body %}
        <!-- INJECTION DU BODY-->
        {% endblock %}
</main>



<!-- LEAFLET JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{# Gestion du menu burger #}
<script src="{{ asset('js/menu_burger.js') }}"></script>
{# Gestion du switch Dark/Night Mode #}
<script src="{{ asset('js/darkmode.js') }}"></script>

{# pour le click sur le logo skate #}
<script src="{{ asset('js/skate-logo.js') }}"></script>



<footer class="footer rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://https://github.com/Seb-Pot-Dev/" class="flex items-center mb-4 sm:mb-0">
                <img id="logo-strasspot" class="h-8 mr-3" src="\img\SUJET_Cathedrale-pleine-scaled.png" alt="logo-StrasSpot">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SkateSpots</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">À propos</a>
                </li>
                <li>
                    <a href="{{ path('conditions') }}" class="mr-4 hover:underline md:mr-6">Conditions d'utilisation</a>
                </li>
                <li>
                    <a href="{{ path('confidentiality') }}" class="mr-4 hover:underline md:mr-6 ">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://https://github.com/Seb-Pot-Dev/" class="hover:underline">Seb-Pot-Dev</a>. All Rights Reserved.</span>
    </div>
</footer>

{% include 'cookies/tarteAuCitron.html.twig' %}


    </body>
</html>
