<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <!-- CSS PERSO -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

            <!-- LEAFLET CSS -->
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
     integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
     crossorigin=""/>

            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        
    </head>
    <body>
        <!-- NAV BAR -->
        <nav>
                <a href="{{ path('app_spot') }}">LA MAP</a>
            {% if app.user %}
                <a href="">Mon profil</a>
                {% if is_granted("ROLE_ADMIN") %}
                <a href="">Administration</a>
                {% endif %}
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}
        </nav>

        {% block body %}
        <!-- INJECTION -->
        {% endblock %}

<!-- LEAFLET JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>
        {% block javascripts %}



            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
