<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

            <!-- Google Font -->

           
            <!-- CSS PERSO -->
            <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/nav.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/buttons.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/forms.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/footer.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/texts.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/boxes-cards.css') }}">
            <link rel="stylesheet" media="screen and (max-width: 768px)" type="text/css" href="{{ asset('css/mobile.css') }}">



     
            <!-- FONT AWESOME KIT -->
            <link rel="stylesheet" 
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
            {{ encore_entry_link_tags('app') }}


        {% endblock %}

        
    </head>

    <main class="" style="">
    <body class="">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
            <!-- NAV BAR -->
            <div class="desktop-nav m-4  ">
                <div  class="main-nav">
                    <!-- LOGO - LIEN VERS HOME -->
                    <a href="{{ path('app_home') }}">
                    <img id="logo-strasspot" src="\img\SUJET_Cathedrale-pleine-scaled.png" alt="logo-StrasSpot">
                    </a>
                    <!-- LIEN VERS MAP -->
                    <a 
                    class="inline-block rounded bg-success px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#14a44d] transition duration-150 ease-in-out hover:bg-success-600 hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:bg-success-600 focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] focus:outline-none focus:ring-0 active:bg-success-700 active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.3),0_4px_18px_0_rgba(20,164,77,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(20,164,77,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(20,164,77,0.2),0_4px_18px_0_rgba(20,164,77,0.1)]"
                    href="{{ path('app_spot') }}">LA MAP</a>

                    <!-- DARK MODE --> 
                    
                    <input type="checkbox" id="toggle-night-mode"/>
                    <label id="dark-mode-label" for="toggle-night-mode">
                    
                    {# <a id="toggle-night-mode">Dark mode</a> #}
                </div>
                <div class="user-nav">
                    {% if app.user %}
                        <a
                        href="{{ path('my_profile') }}"
                        type="button"
                        
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                            Mon profil
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                        <a
                        href="{{ path('app_admin') }}"
                        type="button"
                        
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                            Administration
                        </a>
                        {% endif %}
                        <a
                        href="{{ path('app_logout') }}"
                        type="button"
                        
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#dc4c64] transition duration-150 ease-in-out hover:bg-danger-600 hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.3),0_4px_18px_0_rgba(220,76,100,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(220,76,100,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(220,76,100,0.2),0_4px_18px_0_rgba(220,76,100,0.1)]">
                            Se déconnecter
                        </a>
                    {% else %}
                        <a
                        href="{{ path('app_login') }}"
                        type="button"
                        
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                            Se connecter
                        </a>
                        <a
                        href="{{ path('app_register') }}"
                        type="button"
                        
                        data-te-ripple-init
                        data-te-ripple-color="light"
                        class="inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
                            S'inscrire
                        </a>
                    {% endif %}
                </div>
            </div>
            <style>
            /* Style de la flèche */
.arrow-left {
    display: flex;
    align-items: center;
    width: 100%;
}

.arrow-body {
    width: 20px; /* Largeur du corps de la flèche */
    height: 5px; /* Hauteur du corps de la flèche */
    background-color: #000; /* Couleur du corps de la flèche */
    margin-right: 10px; /* Espacement entre la tête et le corps de la flèche */
    width: 100%;
}

.arrow-left::before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000; /* Couleur de la tête de la flèche */
}
/* Style du conteneur */
.arrow-container {
    padding-left: 80%;
    width: 100%; /* Vous pouvez modifier la largeur ici */
    background-color: var(--background-color); /* Couleur de fond de la div */
    display: flex;
    align-items: center;
    justify-content: center;
}


            </style>
            <!-- NAV BAR MOBILE -->
            <div id="mySidenav" class="sidenav">
                <a id="nav-close-btn" href="#" class="arrow-container ">
                    <div class="arrow-left">
                        <div class="arrow-body"></div>
                    </div>
                </a>
                <ul>
                        <li><a href="{{ path('app_home') }}">Acceuil</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('my_profile') }}">Mon profil</a></li>
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="{{ path('app_admin') }}">Administration</a></li>
                        {% endif %}
                            <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
                    {% endif %}
                        <li><a href="{{ path('app_spot') }}">La carte</a></li>

                </ul>
            </div>
        
        <div class="mobile-nav">
            <a href="#" id="nav-open-btn">
                <span class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a id="logo-container" href="{{ path('app_home') }}">
                <img id="logo-strasspot" src="\img\SUJET_Cathedrale-pleine-scaled.png" alt="logo-StrasSpot">
            </a>        
        </div>

        {% block body %}
        <!-- INJECTION DU BODY-->
        {% endblock %}
</main>



<!-- LEAFLET JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
crossorigin=""></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{# Gestion du menu burger #}
<script src="{{ asset('js/menu_burger.js') }}"></script>
{# Gestion du switch Dark/Night Mode #}
<script src="{{ asset('js/darkmode.js') }}"></script>



<footer class="footer rounded-lg shadow m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://https://github.com/Seb-Pot-Dev/" class="flex items-center mb-4 sm:mb-0">
                <img id="logo-strasspot" class="h-8 mr-3" src="\img\SUJET_Cathedrale-pleine-scaled.png" alt="logo-StrasSpot">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">SkateSpots</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="mr-4 hover:underline md:mr-6 ">À propos</a>
                </li>
                <li>
                    <a href="{{ path('conditions') }}" class="mr-4 hover:underline md:mr-6">Conditions d'utilisation</a>
                </li>
                <li>
                    <a href="{{ path('confidentiality') }}" class="mr-4 hover:underline md:mr-6 ">Politique de confidentialité</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Contact</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://https://github.com/Seb-Pot-Dev/" class="hover:underline">Seb-Pot-Dev</a>. All Rights Reserved.</span>
    </div>
</footer>

{% include 'cookies/tarteAuCitron.html.twig' %}


    </body>
</html>
