    
            <!-- lien -->
                {% if spot.pictures|length > 0 %}
                <li 
                style="background-image: url('{{ asset('assets/uploads/photos-spot/' ~ spot.pictures[0].name) }}');"
                >
                {% else %}
                <li style="height: 100px;"title="{{ spot.name }}">
                {% endif %}
                    <div class="title-li-spot">
                        <div class="left">
                        <!-- nom du spot -->
                                <!-- défini spotName comme le nom du spot -->
                                {% set spotName = spot.name %}
                                <!-- afficher spotName et mettre la première lettre en MAJ 
                                + limiter au 10 premiers charactères -->
                                <p class="header-small text-shadow-1">{{spotName|capitalize|slice(0, 10)}}
                                <!-- Si le nom du spot était supérieur a 10 -->
                                {% if spotName | length > 10 %}...{% endif %}
                                </p>
                        </div>
                        <div class="right">
                            <!-- nb likes du spot -->
                            {# {% if app.user and spot in app.user.favoriteSpots %}
                                <i class="fa-solid fa-heart" alt='nb-likes'></i>&nbsp{{ spot.favoritedByUsers | length }} <!-- Coeur plein + Nb likes-->
                            {% else %}
                                <i class="fa-regular fa-heart" alt='nb-likes'></i>&nbsp{{ spot.favoritedByUsers | length }} <!-- Coeur vide + Nb likes-->
                            {% endif %} #}
                            <!-- note -->

                            {# ETOILE #}
                                <div class="tools-note li-hover-icon title-li-star">
                                    {% if spot.avgNote is not null %}
                                    <img src="\img\star.png" alt="note icon">
                                        <p class="title-li-note">{{spot.avgNote|number_format(2, '.', '')}}</p>
                                
                                    {% endif %}         
                                </div>

                            <!-- nb comments spot -->
                                {# <i class="fa-regular fa-message"></i>&nbsp{{ spot.comments | length }} #}

                            
                        </div>
                    </div>
                <div class="li-hover-container">
                    <div class="li-hover-content">

                            <a class="li-hover-left" aria-label="Voir le détail de {{ spot.name }}" onclick="location.href = this.getAttribute('data-url');" data-url="{{ spot_url }}" style="cursor:pointer;"  title="Voir le détail de {{ spot.name }}" >
                                <p class="li-hover-title">{{spot.name}}</p>
                                <p class="li-hover-description">{{spot.description|capitalize|slice(0, 40)}}{% if spot.description | length > 50 %}...{% endif %}</p>
                            </a>
                            {% if  is_granted('ROLE_ADMIN') %}
                            <div class="flex gap-1 mr-1">
                                <!-- supprimer le spot -->
                                <a href="{{ path('deleteSpot_admin', {'id':spot.id}) }}"><i class="fa-regular fa-trash-can admin-tools-delete"></i></a>
                                <!-- modifier le spot -->
                                <a href="{{ path('edit_spot', {'id':spot.id}) }}"><i class="fa-regular fa-pen-to-square admin-tools-modify"></i></a>
                            </div>
                            {% endif %}

                        <div class="li-hover-right">
                            <div class="li-tools-left">
                                {# ETOILE #}
                                <div class="tools-note li-hover-icon">
                                    <img src="\img\star.png" alt="note icon">
                                    {% if spot.avgNote is not null %}
                                        <p>{{spot.avgNote|number_format(2, '.', '')}}</p>
                                    {% else %}
                                        <p>?</p>
                                    {% endif %}         
                                </div>
                                {# COEUR #}
                                {% if app.user %} <!-- si le user est co, il peut liker-->
                                    <a class="li-hover-icon" aria-label="Liker le spot" href="{{ path('like_spot', {'idSpot': spot.id, 'idUser': app.user.id}) }}"  title="Ajouter {{spot.name}} aux favoris">    
                                    {% if spot in app.user.favoriteSpots %}
                                        <img src="\img\heart-checked.png" alt="hearth icon">
                                    {% else %}
                                        <img src="\img\heart-unchecked.png" alt="hearth icon">
                                    {% endif %}                     
                                    </a>
                                {% else %}
                                    <div class="not-connected-icon"></div>
                                {% endif %}
                            </div>

                            <div class="li-tools-right">
                                
                                {# YEUX #}
                                <a class="li-hover-icon" aria-label="Voir le détail de {{ spot.name }}" onclick="location.href = this.getAttribute('data-url');" data-url="{{ spot_url }}" style="cursor:pointer;"  title="Voir le détail de {{ spot.name }}">
                                    <img src="\img\eyes.png" alt="eyes icon">
                                </a>
                                {# LOUPE #}
                                <a class="focus-on-spot-marker li-hover-icon" aria-label="Voler jusqu'au spot  " class="li-hover-icon focus-on-spot-marker" data-lat="{{ spot.lat }}" data-lng="{{ spot.lng }}" style="cursor:pointer; margin-top: 8px"
                                title="Voler jusqu'au spot">
                                        <img src="\img\finder.png" alt="eyes icon">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                </li>

<script>
document.body.addEventListener("click", function(event){
    if (event.target.closest(".focus-on-spot-marker")) {
        event.stopPropagation();
        const spotElement = event.target.closest(".focus-on-spot-marker");
        var lat = spotElement.getAttribute("data-lat");
        var lng = spotElement.getAttribute("data-lng");

        // Utiliser la méthode flyTo pour animer la vue de la carte vers les coordonnées du spot
        map.flyTo([lat, lng], 15, {
            duration: 2.5,
            easeLinearity: 0.25,
            animate: true,
        }); 

        // Écouter l'événement moveend sur la carte
        map.once("moveend", function() {
            // Parcourir tous les marqueurs sur la carte
            map.eachLayer(function(layer) {
                if (layer instanceof L.Marker) {
                    const markerLatLng = layer.getLatLng();
                    if (markerLatLng.lat === parseFloat(lat) && markerLatLng.lng === parseFloat(lng)) {
                        // Ouvrir le popup pour le marqueur qui correspond aux coordonnées spécifiées
                        layer.openPopup();
                    }
                }
            });
        });
    }
});


</script>
