{% extends 'base.html.twig' %}

{% block title %}Ajouter un spot{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/add-spot.css') }}">

<div class="my-profile-container flex justify-center">

    {% if app.user %}
    <div id="form-add-spot-global">
            {{ form_start(formAddSpot, {'attr': { 'id' : 'form-spot-id'    }}) }}
                <h1 class="mb-2 header-medium">Modifier un spot</h1>
                    <div class="flex gap-1 i-want-inline-elem">
                        <div class="">
                            <div class="">
                                {{ form_label(formAddSpot.name, 'Nom', {'label_attr': {'class': 'header-small'}}) }}
                                {{ form_widget(formAddSpot.name, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <div class="">
                                {{ form_label(formAddSpot.description, 'Description', {'label_attr': {'class': 'header-small'}}) }}
                                {{ form_widget(formAddSpot.description, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <p class="header-small">Modules et Ressources</p>
                            {# APRES LA PAUSE, VOIR POUR MODIFIER LA FONT FAMILLY DU LABEL MODULE PUIS FRONT SHOW SPOT #}
                            {% for module in formAddSpot.modules %}
                                <label class="flex items-center justify-between mx-4 body-small mb-0">
                                    {{ form_label(module, null, {'label_attr' : {'class': 'body-large mb-0'}}) }}
                                    {{ form_widget(module, {'attr': {'class': 'mr-2'}}) }}
                                </label>
                            {% endfor %}
                            <p class="header-small">Autres caracteristiques</p>
                            <div class="flex items-baseline justify-between mx-4">
                                {{ form_label(formAddSpot.covered, null, {'label_attr' : {'class': 'body-large mb-0'}}) }}
                                {{ form_widget(formAddSpot.covered, {'attr': {'class': 'mr-2'}}) }}
                            </div>
                            <div class="flex items-baseline justify-between mx-4">
                                {{ form_label(formAddSpot.official, null, {'label_attr' : {'class': 'body-large mb-0'}}) }}
                                {{ form_widget(formAddSpot.official, {'attr': {'class': 'mr-2'}}) }}
                            </div>

                            {# <div class="">
                                {{ form_label(formAddSpot.modules, 'Modules', {'label_attr': {'class': 'block mb-2 font-medium '}}) }}
                                {{ form_widget(formAddSpot.modules, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div> #}
                        </div>
                        <div>
                            <div class="">
                                {{ form_label(formAddSpot.pictures, 'Photos', {'label_attr': {'class': 'header-small'}}) }}
                                {{ form_widget(formAddSpot.pictures, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            
                        </div>
                        
                        <div>   
                            <div class="">
                            {{ form_label(formAddSpot.adress, 'Addresse', {'label_attr': {'class': 'header-small'}}) }}
                            {{ form_widget(formAddSpot.adress, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <div class="">
                                {{ form_label(formAddSpot.cp, 'Code postal', {'label_attr': {'class': 'header-small '}}) }}
                                {{ form_widget(formAddSpot.cp, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <div class="">
                                {{ form_label(formAddSpot.city, 'Ville', {'label_attr': {'class': 'header-small '}}) }}
                                {{ form_widget(formAddSpot.city, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <div class="">
                                {{ form_label(formAddSpot.lat, 'Latitude', {'label_attr': {'class': 'header-small '}}) }}
                                {{ form_widget(formAddSpot.lat, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>
                            <div class="">
                                {{ form_label(formAddSpot.lng, 'Longitude', {'label_attr': {'class': 'header-small'}}) }}
                                {{ form_widget(formAddSpot.lng, {'attr': {'class': 'w-full px-4 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                            </div>

                            <button class="header-small" id="add-user-pos">Utiliser ma position</button>
                        </div> 
                    </div>
                {# Le bouton submit est généré automatiquement  #}
                <div class="flex justify-end">
        {{ form_end(formAddSpot) }} 
                </div>
        </div>

    {% else %}
        <p id="please-connect">Veuillez vous connecter pour ajouter un spot.</p>
    {% endif %}
</div>
{% endblock %}