

{% extends 'base.html.twig' %}

{% block title %}Hello SpotController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ spot.name }}</h1>

    <p>Nombre de like : {{ spot.favoritedByUsers | length }} </p>

    <p>
        {{ spot.description }}
    </p>

<h4>Ressources sur place:</h4>
<ul>
{% for module in spot.modules %}
        <li> {{ module.name }} </li>
{% endfor %}
</ul>
<h4>Commentaires:</h4>

{% for comment in spot.comments %}
<div class="comment-box">
    <div class="comment-author-and-date">
    {{comment.author.pseudo}}
    {{comment.date|date('d/m/y')}}
    </div>
    <div class="comment-content">
    {{comment.content}}
    </div>
</div>
{% endfor %}


</div>
{% endblock %}