

{% extends 'base.html.twig' %}

{% block title %}Hello SpotController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!--nom du spot-->
    <h1>{{ spot.name }}</h1>

<p>test image:<p>
<!-- TO BE CONTINUED HERE -->
{# {% for image in spot.pictures %}
<img href="href="{{ asset('uploads/photos-spot-/{{spot.name}}') }}" #}

    <!--form note du spot -->
        {{ form(formNotation) }}

    <!--affichage note du spot-->
    <p>avgNote : 
        {% if spot.avgNote %}

            {% set avgNote = spot.avgNote %}

                <!-- Affichage des étoiles -->
                {% set fullStarsCount = avgNote | round %}

                {% set roundedAvgNote = avgNote | round %}
                {% set roundedSupavgNote = avgNote | round(1, 'ceil') %}

                {% for i in 1..(roundedAvgNote - (roundedAvgNote != roundedSupavgNote ? 1 : 0)) %}
                    <i class="fa-solid fa-star"></i>
                {% endfor %}

                {% if roundedAvgNote != roundedSupavgNote %}
                        <i class="fa-solid fa-star-half-stroke"></i>
                {% endif %}
                
                {% if roundedAvgNote < 5 %}
                    
                    {% for i in 1..(5 - roundedAvgNote ) %}
                        <i class="fa-regular fa-star"></i>
                    {% endfor %}

                {% endif %}
            <!--affichage de la avgNote-->
            ({{spot.avgNote}})
        {% else %}
            Pas encore de avgNote
        {% endif %}
    </p>

    <!--nombre de like du spot-->
    <p>Nombre de like : {{ spot.favoritedByUsers | length }} </p>

    <!--description du spot-->
    <p>Description: {{ spot.description }}
    </p>

<!--ressources du spot-->
<h4>Ressources sur place:</h4>

{% if spot.modules|length >= 1 %}
<ul>
{% for module in spot.modules %}
    <li> {{ module.name }} </li>
{% endfor %}
</ul>
{% else %}
Les informations concernant les ressources de ce spot n'ont pas encore été renseignées.
{% endif %}

<!--commentaires du spot-->
<h4>Commentaires:</h4>
{% if spot.comments|length >= 1 %}
    <!-- boucle sur les commentaires du spot, triés par date -->
    {% for comment in spot.comments|sort((a, b)=>a.date<=>b.date) %}
    <div class="comment-box">
        <div class="comment-author-and-date">
        {{comment.author.pseudo}}
        {{comment.date|date('d/m/y H:i:s')}}
        </div>
        <div class="comment-content">
        {{comment.content}}
        </div>
    </div>
    {% endfor %}
{% else %}
<p>Pas encore de commentaire sur ce spot</p>
{% endif %}

{% if app.user %}
{{ form(formCommentSpot) }}
{% else %}
<p>Veuillez vous connecter pour pouvoir commenter un spot.</p>
{% endif %}


</div>
{% endblock %}